@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap");
@media screen and (min-width: 600px) {
  main .section-nosotros {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  main .section-nosotros {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 600px) {
  main .section-botanicos {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
/* mq de desktop seccion botanicos */
@media screen and (min-width: 1024px) {
  main .section-botanicos {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
/* mq seccion tienda*/
/* Media query para dispositivos con una anchura máxima de 768px */
@media (min-width: 600px) {
  section .img-prendas {
    grid-template-columns: repeat(3, 1fr);
    /* tres columnas */
    grid-template-rows: repeat(2, 100%);
  }
  section div div .remera-blanca {
    grid-row: span 3;
  }
}
/* Media query para dispositivos con una anchura máxima de 480px */
@media (min-width: 1024px) {
  section .img-prendas {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 40%);
  }
  section div div .remera-blanca {
    grid-column: span 2;
  }
}
@media screen and (min-width: 600px) {
  section .tragos {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  section .tragos {
    grid-template-columns: repeat(3, 1fr);
  }
}
.descripcion-tragos {
  color: #736032;
  padding: 10px;
  width: 100%;
  height: auto;
  text-align: center;
}

/*NAV BAR */
.navbar {
  display: flex;
  height: 130px;
  background-color: #272c3b;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.5);
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  /* Estilos para el botón desplegable */
}
.navbar .logo {
  height: 80px;
}
.navbar .nav-links {
  display: flex;
  list-style: none;
}
.navbar .nav-links li {
  margin-right: 20px;
  font-family: "Open Sans";
}
.navbar .nav-links li a {
  text-decoration: none;
  color: #736032;
  font-family: "Open Sans";
}
.navbar .nav-links li a:hover {
  color: #faf9f9;
}
.navbar .dropdown {
  display: none;
}
.navbar .dropdown .dropbtn {
  font-size: 1.5rem;
  background-color: #272c3b;
  color: #736032;
  border: none;
  cursor: pointer;
}
.navbar .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #2e2e2e;
  min-width: 160px;
  z-index: 100;
  left: 50%;
  transform: translateX(30%);
}
.navbar .dropdown .dropdown-content a {
  color: #faf9f9;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: "Open Sans";
}
.navbar .dropdown .dropdown-content a:hover {
  background-color: #e0dbcc;
  color: #272c3b;
}
@media screen and (max-width: 768px) {
  .navbar .dropdown {
    display: block;
  }
  .navbar .nav-links {
    display: none;
  }
  .navbar .dropdown:hover .dropdown-content {
    display: block;
  }
}

/* Estilos para el botón desplegable explorar */
.dropdown-explorar {
  display: none;
}
.dropdown-explorar .dropbtn-explorar {
  font-size: 1.5rem;
  background-color: #272c3b;
  color: #736032;
  border: none;
  cursor: pointer;
}
.dropdown-explorar .dropdown-content-explorar {
  display: none;
  position: absolute;
  background-color: #2e2e2e;
  min-width: 160px;
  z-index: 100;
  left: 50%;
  transform: translateX(30%);
}
.dropdown-explorar .dropdown-content-explorar a {
  font-family: "Open Sans";
  color: #faf9f9;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-explorar .dropdown-content-explorar a:hover {
  background-color: #e0dbcc;
  color: #272c3b;
}

@media screen and (max-width: 768px) {
  .dropdown-explorar {
    display: block;
  }
  .nav-links {
    display: none;
  }
  .dropdown-explorar:hover .dropdown-content-explorar {
    display: block;
  }
}
.explorar {
  margin: 20px;
}
.explorar .carousel {
  width: 100%;
  height: auto;
  margin: auto;
}
@media screen and (min-width: 1024px) {
  .explorar .carousel-inner {
    grid-template-columns: repeat(1, 1fr);
    width: 30%;
    height: auto;
    margin: auto;
  }
}
.explorar .carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #faf9f9;
  width: 50%;
  height: auto;
  border-radius: 20px;
}
.explorar h2 {
  color: #faf9f9;
  margin-bottom: 1rem;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
}
.explorar p {
  color: #faf9f9;
  margin-bottom: 1rem;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}
.explorar .custom-bg {
  background-color: rgba(191, 191, 191, 0.2);
  border-radius: 20px;
  text-align: center;
  width: 100%;
  height: auto;
}
.explorar .btn {
  background-color: #274274;
  color: #faf9f9;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  transition: background-color 0.1s ease;
}
.explorar .btn:hover {
  background-color: #e0dbcc;
  color: #272c3b;
}

.text-top {
  color: #faf9f9;
  font-size: 14px;
  font-family: "Open Sans";
  margin: 5px;
}

.main-loby {
  width: 100%;
  height: auto;
  display: flex;
  align-items: end;
  justify-content: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../img/peninsula-valdes-patagonia-argentina.jpg);
  background-size: cover;
  background-position: center;
}

.text-bienvenidos {
  color: #fff;
  text-align: center;
  width: 50%;
}

.btn-inicio {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  text-align: center;
  line-height: 800px;
}
.btn-inicio .ingresar {
  color: #faf9f9;
}

.btn-inicio {
  --border-right: 60px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #ffff;
  --fs-size: 1rem;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Open Sans";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solidvar(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  --webkit-text-stroke: 1px var(--animation-color);
  text-decoration: none;
}

.btn-inicio:hover .hover-text {
  text-decoration: none;
  width: 100%;
  filter: drop-shadow(0 0 30px var(--animation-color));
}

.img-prendas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 30%);
  gap: 1px;
  margin: 10px;
  width: 60%;
  height: auto;
  padding: 20px;
  height: 70vh;
  transition: transform 0.3s ease;
  position: relative;
  justify-content: center;
  align-items: center;
}
.img-prendas .hover-text-tienda .text-gorro {
  display: none;
}
.img-prendas .text-gorro {
  font-family: "Roboto", sans-serif;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 30%;
  color: #faf9f9;
  padding: 10px;
  display: none;
  background-color: rgba(191, 191, 191, 0.2);
  border-radius: 50px;
}
.img-prendas .text-remera {
  font-family: "Roboto", sans-serif;
  text-align: center;
  position: absolute;
  top: 35%;
  left: 30%;
  color: #e0dbcc;
  padding: 10px;
  display: none;
  background-color: #272c3b;
  border-radius: 50px;
}
.img-prendas .hover-text-tienda {
  position: relative;
  display: inline-block;
}
.img-prendas .hover-text-tienda:hover .text-gorro,
.img-prendas .text-remera {
  display: block;
}
.img-prendas img {
  width: 80%;
  height: auto;
  object-fit: cover;
  margin: 40px 50px;
}

.img-prendas img:hover {
  transform: scale(1.1);
}

.titulo-tienda {
  font-family: "Roboto", sans-serif;
  line-height: 2.5;
  color: #736032;
  text-align: center;
  border-radius: 50px;
  padding: 10px;
  margin: 20px;
}

.parrafo-tienda {
  font-family: "Roboto", sans-serif;
  color: #faf9f9;
  text-align: center;
  padding: 10px;
}

.section-promo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10vh;
  animation: backgroundAnimation 5s infinite;
}

.info {
  text-align: center;
  margin: 20px;
}
.info p {
  color: #736032;
}

.regalo {
  color: #272c3b;
  font-size: 24px;
}

.cuota {
  color: #faf9f9;
  font-size: 24px;
}

.off {
  color: #272c3b;
  font-size: 24px;
}

@media screen and (max-width: 400px) {
  .info {
    flex-basis: 40%;
  }
  .regalo,
  .cuota,
  .off {
    font-size: 14px;
  }
}
@keyframes backgroundAnimation {
  0% {
    background-color: #f781a8;
  }
  25% {
    background-color: #89c9c6;
  }
  50% {
    background-color: #6ca79d;
  }
  75% {
    background-color: #a67bca;
  }
  100% {
    background-color: #f56887;
  }
}
main .nuestra-historia .tit-explorar {
  line-height: 2.5;
  color: #736032;
  text-align: center;
  border-radius: 40px;
  padding: 10px;
  width: 100%;
  height: auto;
  font-family: "Roboto", sans-serif;
}
main .nuestra-historia h4 {
  padding: 20px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #faf9f9;
  font-size: 20px;
}

.section-nosotros {
  display: grid;
  gap: 1rem;
  object-fit: cover;
  margin: 10px;
  text-align: center;
  color: #faf9f9;
  align-items: center;
}
.section-nosotros p {
  line-height: 1.5;
  white-space: pre-line;
  font-size: 20px;
}
.section-nosotros img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*seccion botanicos*/
.titulo-botanicos {
  text-align: center;
  margin: 10px auto 0;
  color: #faf9f9;
  border-radius: 50px 50px 0 0;
  width: 90%;
  height: auto;
  padding: 10px;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.5);
}
.titulo-botanicos h1 {
  color: #736032;
  padding: 10px;
  font-family: "Roboto", sans-serif;
}
.titulo-botanicos P {
  color: #faf9f9;
  font-family: "Roboto", sans-serif;
  line-height: 2.5;
}

.subtitulo-botanicos h2 {
  margin: 20px auto 0;
  width: 90%;
  height: auto;
  text-align: center;
  padding: 30px;
  border-radius: 0 0 50px 50px;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.5);
  font-family: "Roboto", sans-serif;
}

.section-botanicos {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  padding: 20px;
  transition: transform 0.3s ease;
  gap: 1rem;
}
.section-botanicos .img-botanicos {
  border-radius: 20px;
  width: 80%;
  height: auto;
  object-fit: cover;
  margin: 10px;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.5);
}
.section-botanicos .img-botanicos:hover {
  transform: scale(1.1);
}
.section-botanicos p {
  font-family: "Open Sans";
  background-color: #e0dbcc;
  color: #2e2e2e;
  border-radius: 20px;
  padding: 10px;
  width: 100%;
  height: auto;
  text-align: center;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.5);
  line-height: 1.2;
}
.section-botanicos h3 {
  font-family: "Roboto", sans-serif;
  color: #e0dbcc;
  background-color: #272c3b;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  border-radius: 50px;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 0;
  width: 800px;
  height: 500px;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/CLASICO-PLAYA.jpg);
  background-size: cover;
  background-position: center;
}

.img-area {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.img-area img {
  max-width: 100%;
  height: auto;
}

.form-area {
  color: #faf9f9;
  flex: 1;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-area h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.single-form {
  margin-bottom: 20px;
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 10px;
  border: 1px solid #faf9f9;
  border-radius: 5px;
}

input[type=submit] {
  background-color: #272c3b;
  color: #faf9f9;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #e0dbcc;
  color: #272c3b;
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    text-align: center;
    height: auto;
    width: auto;
  }
  .img-area,
  .form-area {
    flex: none;
  }
  .img-area {
    margin-bottom: 20px;
  }
}
section .wrap {
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/CLASICO-PLAYA.jpg);
  background-size: cover;
  background-position: center;
}
section .wrap-texto {
  color: #faf9f9;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.tragos {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  padding: 20px;
  gap: 1rem;
  font-family: "Bebas Neue", sans-serif;
}

.img-tragos {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.img-tragos:hover {
  transform: scale(1.1);
}

.img-ballena {
  max-width: 100%;
  height: auto;
}

.text-intro {
  font-family: "Open Sans";
  text-align: left;
  line-height: 2.2;
  align-items: center;
  justify-content: center;
  word-spacing: 5px;
}
.text-intro p {
  font-size: 20px;
}

.destacado {
  color: #736032;
  font-family: "Open Sans";
  font-size: 20px;
}

.footer-loby p {
  color: #faf9f9;
  font-size: 14px;
  font-family: "Open Sans";
}

.footer {
  padding: 8px;
  color: #faf9f9;
  text-align: center;
  font-size: 14px;
  margin-top: 20vh;
  font-family: "Open Sans";
}

.footer-medios {
  padding: 20px;
  background-color: rgb(10, 10, 10);
}
.footer-medios .footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-medios .footer-tarjetas,
.footer-medios .footer-contacto,
.footer-medios .footer-envios {
  flex-basis: 30%;
  margin: 20px;
}
@media screen and (max-width: 768px) {
  .footer-medios .footer-tarjetas,
  .footer-medios .footer-contacto,
  .footer-medios .footer-envios {
    flex-basis: 100%;
  }
}
.footer-medios .footer-tarjetas h5,
.footer-medios .footer-contacto h5,
.footer-medios .footer-envios h5 {
  font-size: 16px;
  color: #faf9f9;
  margin-bottom: 10px;
  font-family: "Open Sans";
}
.footer-medios .footer-tarjetas a,
.footer-medios .footer-contacto a,
.footer-medios .footer-envios a {
  color: #736032;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
  font-family: "Open Sans";
}
.footer-medios .footer-tarjetas .iconos-tarjetas,
.footer-medios .footer-tarjetas .iconos-envios,
.footer-medios .footer-contacto .iconos-tarjetas,
.footer-medios .footer-contacto .iconos-envios,
.footer-medios .footer-envios .iconos-tarjetas,
.footer-medios .footer-envios .iconos-envios {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.footer-medios .footer-tarjetas .iconos-tarjetas .footer-icon,
.footer-medios .footer-tarjetas .iconos-tarjetas .footer-top-icon,
.footer-medios .footer-tarjetas .iconos-envios .footer-icon,
.footer-medios .footer-tarjetas .iconos-envios .footer-top-icon,
.footer-medios .footer-contacto .iconos-tarjetas .footer-icon,
.footer-medios .footer-contacto .iconos-tarjetas .footer-top-icon,
.footer-medios .footer-contacto .iconos-envios .footer-icon,
.footer-medios .footer-contacto .iconos-envios .footer-top-icon,
.footer-medios .footer-envios .iconos-tarjetas .footer-icon,
.footer-medios .footer-envios .iconos-tarjetas .footer-top-icon,
.footer-medios .footer-envios .iconos-envios .footer-icon,
.footer-medios .footer-envios .iconos-envios .footer-top-icon {
  width: 50px;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #101010;
  color: #736032;
  height: 100%;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
