/*seccion botanicos*/

.titulo-botanicos {  
  text-align: center;
  margin: 10px auto 0;
  color: $text-color-uno;  
  border-radius: 50px 50px 0 0;
  @include medidas (90%, auto);
  padding: 10px;
  @include shadow;

  h1 {    
    color: $color-uno;
    padding: 10px;
    font-family: $font-roboto;
  }

  P {
    color: $text-color-uno;
    font-family: $font-roboto;
    line-height: 2.5;
  }
}

.subtitulo-botanicos {
  h2 {
    margin: 20px auto 0;
    @include medidas (90%, auto);
    text-align: center;
    padding: 30px;    
    border-radius: 0 0 50px 50px;
    @include shadow;
    font-family: $font-roboto;
  }
}

.section-botanicos {
  @include medidas (100%, auto);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  padding: 20px;
  transition: transform 0.3s ease;
  gap: 1rem;



  .img-botanicos {
    border-radius: 20px;
    @include medidas (80%, auto);
    object-fit: cover;
    margin: 10px;
    @include shadow;


    &:hover {
      transform: scale(1.1);
    }
  }

  p {
    font-family: $font-open;
    background-color: $bg-color-secundario;
    color: $text-color-dos;
    border-radius: 20px;
    padding: 10px;
    @include medidas (100%, auto);
    text-align: center;
    @include shadow;
    line-height: 1.2;
  }

  h3 {
    font-family: $font-roboto;
    color: $bg-color-secundario;
    background-color: $color-cuatro;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    border-radius: 50px;
    @include shadow;
  }
}