//Seccion contactenos
main {
  .contactenos {
    width: auto;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgb(0 0 0 / .5), rgb(0 0 0 / .5)), url(../img/botella-3.jpg);
    background-size: cover;
    background-position: center;   
  }

  .texto-contactenos {
    color: $color-tres;
    text-align: center;
    font-family: $font-roboto;
    font-size: 20px;

    h1 {
      letter-spacing: 5px;
      margin-bottom: 20px;
      font-size: 40px;
      font-family: $font-roboto;
    }
  }
}


.form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 0;
  width: 800px;
  height: 500px;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, rgb(0 0 0 / .5), rgb(0 0 0 / .5)), url(../img/CLASICO-PLAYA.jpg);
  background-size: cover;
  background-position: center;
}

.form-area {
  font-family: $font-roboto;
  color: $color-tres;
  flex: 1;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-area h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.single-form {
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
  width: 250px;
  padding: 10px;
  border: 1px solid $color-tres;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: $color-cuatro;
  color: $color-tres;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: $bg-color-secundario;
    color: $color-cuatro;
  }
}

@media (min-width: 400px) {
  .wrapper {
    flex-direction: column;
    text-align: center;
    height: 400px;
    width: 800px;
  }

  .img-area,
  .form-area {
    flex: none;
  }

  .img-area {
    margin-bottom: 20px;
  }
}

//redes
.socials {
  margin-top: 50px;

}

.socials i {
  font-size: 28px;
  margin: 0px 10px;
  color: $color-tres;

  &:hover {
    transform: scale(1.3);
    color: $color-dos;
  }
}