//Seccion contactenos


.form-box {
  display: flex;
  justify-content: center;
  align-items: center;  
  margin: 20px;  

}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 0;
  width: 800px;
  height: 500px;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, rgb(0 0 0 / .5), rgb(0 0 0 / .5)), url(../img/CLASICO-PLAYA.jpg);
  background-size: cover;
  background-position: center;
}

.form-area {
  font-family: $font-roboto;
  color: $color-tres;
  flex: 1;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-area h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.single-form {
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
  width: 70%;
  padding: 10px;
  border: 1px solid $color-tres;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: $color-cuatro;
  color: $color-tres;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: $bg-color-secundario;
    color: $color-cuatro;
  }
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    text-align: center;
    height: auto;
    width: auto;
  }

  .img-area,
  .form-area {
    flex: none;
  }

  .img-area {
    margin-bottom: 20px;
  }
}

//redes
.socials {
	margin-top: 50px;
	
}
.socials i {
	font-size: 28px;
	margin: 0px 10px;
	color: $color-tres;
	
}