// Footer inicio

.footer-loby {
  color: $color-tres;
  font-size: 14px;  
  font-family: $font-open;
}


// Footer nosotro-explorar-botanicos-tinda

.footer {
  p {
    padding: 8px;
    color: $color-tres;
    text-align: center;    
    font-size: 14px;
    margin-top: 20vh;
    font-family: $font-open;
  }
}



// Footer explorar tajetas-envios

.footer-medios {
  padding: 20px;
  background-color: rgb(10, 10, 10);

  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .footer-tarjetas,
  .footer-contacto,
  .footer-envios {
    flex-basis: 30%;
    margin: 20px;
  }
 
  @media screen and (max-width: 768px) {

    .footer-tarjetas,
    .footer-contacto,
    .footer-envios {
      flex-basis: 100%;

    }
  }

  // Estilos comunes para los bloques

  .footer-tarjetas,
  .footer-contacto,
  .footer-envios {
    h5 {
      font-size: 16px;
      color: $color-tres;
      margin-bottom: 10px;
      font-family: $font-open;
    }

    a {
      color: $color-uno;
      text-decoration: none;
      display: block;
      margin-bottom: 5px;
      font-family: $font-open;
    }

    .iconos-tarjetas,
    .iconos-envios {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;


      .footer-icon,
      .footer-top-icon {
        width: 50px;
        height: auto;

      }

    }
  }
}