
/* SECCION FOOTER */
.footer {  
    .copy, .footer-botanicos {
      p{
      text-align: center;
      background-color: $color-cuatro;
      box-shadow: 0 -15px 20px rgba(0, 0, 0, 0.5);
      padding: 8px;
      font-size: 14px;
      margin-top: 100rem;  
      }  
    }
  }
 