// mq de tablet seccion nosotros

@media screen and (min-width: 600px) {
  main .section-nosotros {
    grid-template-columns: repeat(2, 1fr);
    
  }

}

// mq de desktop seccion nosotros
@media screen and (min-width: 1024px) {
  main .section-nosotros {
    grid-template-columns: repeat(2, 1fr);      
  }  
  
}




// mq seccion botanicos 

@media screen and (min-width: 600px) {
  main .section-botanicos {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}

/* mq de desktop seccion botanicos */
@media screen and (min-width: 1024px) {
  main .section-botanicos {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}





/* mq seccion tienda*/

/* Media query para dispositivos con una anchura máxima de 768px */

@media (min-width: 600px) {
  section .img-prendas {
    grid-template-columns: repeat(3, 1fr);
    /* tres columnas */
    grid-template-rows: repeat(2, 100%)
  }

  section div div .remera-blanca {
    grid-row: span 3
  }
}

/* Media query para dispositivos con una anchura máxima de 480px */
@media (min-width: 1024px) {
  section .img-prendas {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 40%)
  }

  section div div .remera-blanca {
    grid-column: span 2
  }
}





// mq seccion tragos
@media screen and (min-width: 600px) {
  section .tragos {
    grid-template-columns: repeat(3, 1fr);
  }
}

// mq de desktop seccion tragos
@media screen and (min-width: 1024px) {
  section .tragos {
    grid-template-columns: repeat(3, 1fr);

  }
}

.descripcion-tragos {
  color: $color-uno;
  padding: 10px;
  @include medidas (100%, auto);
  text-align: center;

}