
/*NAV BAR */

.navbar {
    display: flex;
    height: 130px;
    background-color: $color-cuatro;
    @include shadow;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  
    .logo {
      height: 80px;
    }
  
    .nav-links {
      display: flex;
      list-style: none;
  
      li {
        margin-right: 20px;
  
        a {
          text-decoration: none;
          color: $color-uno;
  
          &:hover {
            color: $text-color-uno;
          }
        }
      }
    }
  
  /* Estilos para el botón desplegable */
    .dropdown {
      display: none;
  
      .dropbtn {
        font-size: 1.5rem;
        background-color: $color-cuatro;
        color: $color-uno;
        border: none;
        cursor: pointer;
      }
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: $text-color-dos;
        min-width: 160px;
        z-index: 100;
        left: 50%;
        transform: translateX(30%);
        a{
          color: $text-color-uno;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }
      }
    }
    @media screen and (max-width: 768px) {
      .dropdown {
        display: block;
      }
      .nav-links {
        display: none;
      }
      .dropdown:hover .dropdown-content {
        display: block;
      }
    }
  }


  /* Estilos para el botón desplegable explorar */

  .dropdown-explorar {
    display: none;

    .dropbtn-explorar {
      font-size: 1.5rem;
      background-color: $color-cuatro;
      color: $color-uno;
      border: none;
      cursor: pointer;
    }
    .dropdown-content-explorar {
      display: none;
      position: absolute;
      background-color: $text-color-dos;
      min-width: 160px;
      z-index: 100;
      left: 50%;
      transform: translateX(30%);
      a{
        color: $text-color-uno;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .dropdown-explorar {
      display: block;
    }
    .nav-links {
      display: none;
    }
    .dropdown-explorar:hover .dropdown-content-explorar {
      display: block;
    }
  }
