
.team-area {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 50vh;
	color: #fff;	
}

.box {
	
	position: relative;
	margin: 20px;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	max-width: 400px;
	transition: transform 0.3s ease;
}
.img {
	width: 100%;
	display: block;	
	transition: transform 0.5s ease;
}
.box:hover {
	transform: scale(1.05);
	
}
.box figcaption {
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: 20px;
	text-align: center;
	background: #ff1770b3;
	transform: translateY(100%);
	transition: transform 0.5s ease;
	border-radius: 100px 100px 0 0;
}
.box:hover figcaption {
	transform: translateY(0);
	
}
.box h2 {
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: "Bebas Neue", sans-serif;
	margin: 0;
}
.box p {
	font-size: 14px;
	
}

@media(max-width: 800px) {
	.team-area {
		flex-direction: column;
	}
}
@media(max-width: 600px) {
	.box h2 {
		font-size: 20px;
	}
}
