// tipografias
$font-family: 'Open Sans';

// color fondos
$color-fondo: #faf9f9;
$bg-color-secundario: #e0dbcc;
$fondo-transparente: rgba(191, 191, 191, 0.2);

// color base
$color-uno: #736032;
$color-dos:#274274;
$color-tres: #faf9f9;
$color-cuatro: #272c3b;

// color textos
$text-color-uno: #faf9f9;
$text-color-dos: #2e2e2e;

